/* Logo styling */

.navbar-logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  height: 150px;
  background-color: rgb(44 196 181 / 50%);
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar-pages {
  display: flex;
  align-items: center;
}

.navbar-pages a {
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  text-decoration: none;
  color: black;
}

.footer-social-icons a {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  padding: 0;
}

.navbar-pages-hover a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid;
  border-color: black;
}

.navbar-button {
  display: flex;
  font-size: 12px;
  line-height: 160%;
  background-color: rgb(74, 80, 187);
  border-radius: 5px;
}

body {
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 20.5rem;
  width: 20.5rem;
  display: flex;
  flex-direction: row-reverse;
  min-height: 100px;
  padding: 37px 0 24px 100px;
  align-items: stretch;
}

.bio {
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0 2px 15px 2px;
  background-color: #8b8eaf;
  text-align: justify;
  margin-top: 30px;
}

.bio h2 {
  margin-bottom: 0.5rem;
  color: rgb(44 196 181 / 98%);
  text-align: center;
}

.bio p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

footer {
  background-color: rgb(44 196 181 / 50%);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
}

.footer-link {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}

/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  right: 28px;
  width: 119px;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: solid black;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */

.form-container textarea {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: rgb(45 172 160 / 93%);
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: black;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* Slideshow container */

.slideshow-container {
  display: block;
  background: #f1f1f1f1;
}

/* Slides */

.mySlides {
  display: block;
  text-align: center;
}

/* Next & previous buttons */

.prev {
  cursor: pointer;
  position: relative;
  top: 50%;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  text-align: right;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */

.dot-container {
  text-align: center;
  padding: 20px;
  background: rgb(45 172 160 / 43%);
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */

.active,
.dot:hover {
  background-color: #717171;
}

/* Add a blue color to the author */

.author {
  color: cornflowerblue;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
}
