/* Logo styling */

.navbar-logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  height: 150px;
  background-color: rgb(44 196 181 / 50%);
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar-pages {
  display: flex;
  align-items: center;
}

.navbar-pages a {
  font-size: 12px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  text-decoration: none;
  color: black;
}

.navbar-pages-hover a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid;
  border-color: black;
}

.navbar-button {
  display: flex;
  font-size: 12px;
  line-height: 160%;
  background-color: rgb(74, 80, 187);
  border-radius: 5px;
}

body {
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

.experience-div {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

.experience-no-div {
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: 20px;
  padding: 20px 0 20px 0;
  border-style: solid;
  border-color: rgb(44 196 181 / 50%);
}

.experience-img {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

footer {
  background-color: rgb(44 196 181 / 50%);
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
}

.copy,
.footer-copy {
  text-align: left;
}

/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  right: 28px;
  width: 119px;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: rgb(45 172 160 / 93%);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: black;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
}
